/*
#tetris{
    font-size: 40px;
}
#infobord{
    font-size: 50px;
}
 */
p {
    margin: 0px;
    padding: 5px;
}

body {
    background-color: #0F1123;
    color: white;
}

span {
    padding: 0 2px;
}

th {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

tr {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


* {
    font-family: 'Press Start 2P', cursive;
}

#chromosomes{
    color: rgb(13, 110, 253);
    font-size: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 620px 500px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board {
    border: solid 2px;
}

.myButton {
    background-color: #4caf50;
    cursor: pointer;
}

.learnMore {
    color: rgb(13, 110, 253);
    font-size: 15px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-decoration: underline;
}

#learnMoreText {
    margin: 50px;
}


.learnMore:hover {
    color: rgb(13, 85, 255);
}

#sound-speaker {
    font-size: 30px;
}

.sound-item {
    cursor: pointer;
}

.navbar {
    background-color: #0F1123;
}

.light-mode {
    background-color: white;
    color: black;
}

/* #keyupIcon {
    height: 30px;
    width: 30px;
}

#keyshiftIcon {
    height: 60px;
    width: 120px;
}

#keyspacebarIcon {
    height: 30px;
    width: 200px;
} */